<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <nav class="navbar navbar-default sticky-top mb-1">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav justify-content-end">
          <!-- 6 -->
          <li class="nav-item"  id="home"><a href="/">HOME</a></li>
          <li class="nav-item" id="about"><a href="/about">ABOUT US</a></li>
          <li class="nav-item" id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
